div{
    background-color: rgb(218, 141, 167);
    border-bottom: 20px solid purple;
    border-top: 20px solid purple;
    margin: 20px;
    border-radius: 20px;
    border-width: 20px;
    
}
#green{
    background-color: green;
    border: dashed 5px yellow;
    padding: 60px 0 40px;
    text-align: center;
    margin: 30px;
    color: #fff;
}
#red{
    background-color: red;
    border-right: 20px solid orange;
    padding: 20px 0 80px;
    text-align: center;
    width: 400px;
    color: #fff;
    margin-top: 30px;
    margin: 30px;


}
#blue{
    background-color: blue;
    border: dotted 5px black;
    text-align: center;
    width: 50%;
    color: #fff; margin-top: 50px;
    margin: 30px;
}